{% block body %}
    <h4>Original Amount  :{{ amount }}</h4>
    <h4>Converted Amount :{{ total }}</h4>
    <h5>Rate of Conversion for {{ srcCurrency}}: {{ rate }} {{ destCurrency }}</h5>
    <h5>The date of Conversion price updated: {{ date }}</h5>
{% endblock %}
